/**/.DS_STORE
/**/.idea
/**/node_modules
/vendor
/build
/.cache
.env
composer.lock
.turbo

# Allow local environment overrides.
.wp-env.override.json

/test-results/
/playwright-report/
/playwright-report/index.html
/blob-report/
/playwright/.cache/
/artifacts/

.phpunit.result.cache
